body {
    margin: 0;
    background-color: #F8F9FA;
    font-family: Verdana,sans-serif;
}

@media (min-width: 768px) {
   
    header {
        flex-direction: row; 
        justify-content: space-between; 
    }

    header nav ul {
        flex-direction: row; 
        gap: 20px;
    }

    
    .grid-cards {
        grid-template-columns: repeat(2, 1fr); 
    }
    
@media (min-width: 1024px) {
    
    .grid-cards {
        grid-template-columns: repeat(3, 1fr); 
    }
}

} 
    header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    gap: 20px;
}
header > h1 {
    text-shadow: black 1px 1px 2px;
    color: rgb(22, 21, 21);
    margin: 0;
}
header > nav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
}
header > nav a:hover {
    text-decoration: underline;
    transition: 0.5s ease;
    color: orange;
}

a {
    text-decoration: none;
    color: #333333;
}
.footer  {
    font-size: 16px;
    padding: 30px 20px;
    text-align: center;
}
.footer  a:hover{
    text-decoration: underline;
    transition: 0.5s ease;
    color : orange
    
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.card img {
    height: auto;
    width: 20px;
}